In [2]:
import sqlite3

sqlite3.sqlite_version

'3.43.1'

In [3]:
# DB 연결
con = sqlite3.connect('./test.db')

In [5]:
# DB 생성
cur = con.cursor()
cur.execute("create table Data(Date text, Name text);")

OperationalError: table Data already exists

In [8]:
# 값 추가
cur.execute("insert into Data Values('2024-05-21','Yoo SeungHyeon');")

In [9]:
# 값 조회
cur.execute("select * from Data")
for row in cur:
    print(row)

('2024-05-21', 'Yoo SeungHyeon')
('2024-05-21', 'Yoo SeungHyeon')